
/* @import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

body {
    box-sizing: border-box;
    margin: 2vh 2vw;;
    font: 100% Verdana ;
    background-color: #fff;;
    color: #2a293e;
    font-size: 1rem;
    
}



/* MUDAR A FONT TITULO */

h1  {
        font-family: Reem Kufi;
        letter-spacing: 0.1rem;
        margin-top: 2vw;
        
    }

    main {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* assim fica no tamanho da tela do laptop */
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 1.5vw 3vw;
    height: 6vh;
    background-color: #fff;;
    z-index: 10;
    
    
}

 .profile-img-header{
    border-radius: 50% 50% 0 50%;
    height: 45px;
    width: 45px;
    cursor: pointer;
    object-fit: cover;
    object-position: center right;
    vertical-align: middle;
    box-shadow: none;
}

/* SUBLINADO QND SCROLL NAV */
.scroll {
    box-shadow: 0 8px 6px -6px #57f05d;
}

.logo {
    width: 5em;
    height: 5em;
    margin-top: 1.5vw;
}

nav{
    margin-left: auto;
}
li {/*tira s bolas*/
    position: relative;
    display: inline-block;
    list-style-type: none;
    padding: 0 1rem;
}

ul {
    display: flex;
    align-items: center;
}

/*coooor*/

 svg {
    width: 1.5rem;
    cursor: pointer;
    
}

svg:hover {
    color: #fe7bdb;
}
            
a {
    text-decoration: none;
    color: #2a293e;
}

/*//////////////////HOME////////////////*/

.home-page {
    display: flex;
    flex-direction: column;
    margin: 1vw 1vh;
}    

.grid {
    display: grid;
    grid-template: repeat(2, [row] 1fr) / repeat(4, [col] 1fr);
    /* // grid-gap: 1.5vw; */
    margin: 0 5vw;
    min-height: 100vh;
   
}


.item-1,
    .item-2 {
    align-items: center;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-1 {
    grid-column: col 1 / span 2;
    grid-row: row 1 / span 2;
    z-index: 2;
    margin-right: 2rem;
}

.welcome,
h2{
    color: #95e5fe;

}
.welcome2,
h2{
    color: #fe7bdb;

}



/* IMAGENS ASIDE */
.item-2 {
    grid-column: col 3 / span 4;
    grid-row: row 1 / span 2;
    z-index: 1;
    background-color: #fe7bdb;
}

.welcome3,
    h2 {
    color:#57f05d;
    
}


/*//////////////////REGISTRATION////////////////*/


/* caixa de registro */
.formField { 
    margin: 6rem auto;
    padding: 2%;
    width: 28.125rem;
    height: auto;
    min-height: 500px;
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid #b9b7c9;
}
.form {
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header{
    margin: 2% auto 10% auto;
    text-align: center;       
}

p {
  letter-spacing: 0.05em;  
}

h2 {
font-size: 2rem;
font-family: 100% Verdana;
color: #2a293e;
}
.con {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
}

input {
    display: block;
    margin-top: 2%;
    padding: 0 15px;
    width: 15rem;
    height: 3.125rem;
    outline: none;
    border: none;
    border-bottom: 2px solid #95e5fe; /* sublinhada caixas */
    color: #2a293e;
    font-size: calc(0.6rem + 1vmin);
    font-family: #2a293e;
    transition: 0.2s linear;
}

 input:focus {
    transform: translateX(-10px);
    border-bottom: 2px solid #fbfe4b;
}

  

button {
    display: inline-block;
    margin: 6% auto;
    padding: 0 1.25rem;
    width: 15rem;
    height: 3.125rem;
    border: 2px solid  #f7f7f7;
    border-radius: 50px;
    background-color:#57f05d;
    outline: none;
    font-size: calc(0.4rem + 1vmin);
    color: #302c2c;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s linear;
    text-transform: uppercase;
}

button::before {
    border: 2px solid #2a293e;
}
    
button:hover {
    transform: matrix(1, 0, 0, 1, 7, 7);
    transition: transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
        -webkit-transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
        transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s;
    border-top-left-radius: 70px ;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.submits {
    width: 40%;
    display: inline-block;
    margin-left: 7%;
}
.sig-up, 
.deleteAcc {
    background-color: #fe7bdb;;
}
.frgt-pass, .delete {
    background-color: #fbfe4b;
}

/*SETUP INPUT */
input[type=file] {
    -webkit-appearance: textfield;
    width: 240px;
    height: 50px;
    outline: none;
    background-color: #fff;
    color: #2a293e;
    font-size: calc(0.3rem + 1vmin);
    text-align: center;
    cursor: pointer;
}
 
input[type=file]::-webkit-file-upload-button {
  visibility: hidden;

}


label { 
  font-size: calc(0.3rem + 1vmin); 
  line-height: 4em;
  text-transform: uppercase;
  color: #2a293e;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}


/* /////////////////////// PROFILE ////////////////*/
.profile  {
    margin: 15vh 5vw;
    flex-grow: 1;
    position: relative;
    display: grid;
    grid-template-columns: 30%  1fr 30%;
    grid-template-rows: 32%  1fr;
    grid-gap: 2vw;
}

 .bio-cropper-other {
   margin: 15vh 5vw;
    flex-grow: 1;
    position: relative;
    display: grid;
    grid-template-columns: 30%  1fr 30%;
    grid-template-rows: 32%  1fr;
    grid-gap: 2vw;
}
/*
 margin: 15vh 5vw;
    flex-grow: 1;
    position: relative;
    display: grid;
    grid-template-columns: 19%  1fr 30%;
    grid-template-rows: 32%  1fr;
    grid-gap: 2vw;
 */
.profile-img {
    height: 18rem;
    width: 19rem;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
    border: 2px solid #57f05d;
    border-radius: 50%;
}

/* position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: 1s box-shadow;
  background-color: ghostwhite; */
.profile-img:hover , .findPeople .img-wrapper:hover { /*movimento ao passar o hover mouse*/
    transform: matrix(1, 0, 0, 1, 7, 7);
    transition: transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
        -webkit-transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
        transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s;
}

/* 
$font-stack: verdana ;
$font-title: Reem Kufi ;
$font-color: #2a293e;
$bcg-color: #fff;
$primary-color: #fe7bdb;
$secundary-color: #95e5fe;
$third-color: #8dffe8; meuu #fbfe4b
$fourth-color: #fbfe4b; - #fbfe4b */

 
.add-bio {
    background: linear-gradient(180deg, rgba(230, 32, 32, 0)70%, #fbfe4b);
    cursor: pointer;
}
.add-bio:hover {
    background: linear-gradient(180deg, rgba(230, 32, 32, 0) 50%, #fbfe4b 50%);
}
.edit {
    background: linear-gradient(180deg, rgba(230, 32, 32, 0)70%, #fe7bdb 30%);
}
.edit:hover {
    background: linear-gradient(180deg, rgba(230, 32, 32, 0) 50%, #fe7bdb 50%);
}
.delete {
    background: linear-gradient(180deg, rgba(230, 32, 32, 0)70%, #fbfe4b 30%);
}
.delete:hover {
    background: linear-gradient(180deg, rgba(230, 32, 32, 0) 50%, #fbfe4b 50%);
}

.blue {
    color: #95e5fe;
    font-family: Reem Kufi;
}
.green {
    color: #fbfe4b;
    font-family: Reem Kufi;
    margin-bottom: 0.1rem;
} 

textarea {
    display: block;
    margin-top: 2%;
    padding: 15px;
    width: 240px;
    height: 150px;
    outline: none;
    border: 2px solid #2a293e;
    border-radius: 15px;
    resize: none;
    color: #2a293e;
    font-size: calc(0.6rem + 1vmin);
    font-family: "Comfortaa";
    transition: 0.2s linear;
}
textarea:focus {
    transform: translateX(-10px);
}


/*////////////OTHER PROFI//////////////////*/


.profile-img-other{
  cursor: default;
}
.profile-img-other{
    transform: matrix(1, 0, 0, 1, 7, 7);
    transition: transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
        -webkit-transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
        transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s;

}

.profile .profile-img:hover,
.findPeople .profile-img:hover {
  box-shadow: none;
} 
.profile-img-other,  
.findPeople .img-wrapper {
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: 1s box-shadow;
  background-color: ghostwhite;
  border: 2px solid #57f05d;
}

 
.findPeople .img-wrapper:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.findPeople .img-wrapper {
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: 1s box-shadow;
  background-color: ghostwhite;
}


.findPeople .img-wrapper:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}
.users-bio {
    margin: 1vh 2vw;
    flex-grow: 1;
    position: relative;
    display: grid;
    grid-template-columns: 30%  1fr 30%;
    grid-template-rows: 32%  1fr;
    grid-gap: 2vw;
}

/* .other .bio-cropper{
    text-align: center;
    border: 2px solid #57f05d;
} */

/* 
$font-stack: verdana ;
$font-title: Reem Kufi ;
$font-color: #2a293e;
$bcg-color: #fff;
$primary-color: #fe7bdb;
$secundary-color: #95e5fe;
$third-color: #8dffe8; meuu #fbfe4b
$fourth-color: #fbfe4b; - #fbfe4b */